body{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*------------------FONDO----------------------------*/


/*------------------------FIN FONDO--------------------------------------*/



.imagenes{
  position: absolute;
}

#div_logo{
  float: left;
}

#img_help{
  width: 10%;
  float: right;
}

#micro {
position: fixed;
top: 75%;
left: 42.5%;
border: 6px solid rgb(49, 129, 175);
background-color: #b4d6e6;
border-radius: 50%;
width: 15%;
height: 7.5%;
}

#micro img{
  width: 100%;
  height: 100%;
}

#volumen_boton{
  position: fixed;
  top: 85%;
  width: 20%;
  left: 40%;
  height: 8%;
  text-align: center;
}

#vol{
  height: 20%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
#activacion_volumen{
  margin-top: 5%;
  height: 60%;
  border: 6px solid rgb(49, 129, 175);
  background-color: #b4d6e6;
}

#esfera {
  width: 300px;
  height: 300px;
  background-image: radial-gradient(circle at 50% 50%, #b4d6e6, rgb(49, 129, 175));
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#ayuda{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  background-color: #fff;
  overflow-y: auto;
  opacity: 0.9;
}

#img_logo_popup_principal{
  margin-left: 10%;
}

#img_cierre{
  width: 10%;
  float: right;
}

#logo_titulo{
  text-align: center;
}

#titulo_popup{
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 8em;
  color: rgb(49, 129, 175);
  border: solid 10px rgb(104, 104, 104);
}

.titulo_seccion_popup{
  font-size: 5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(85, 85, 85);
  text-align: center;
}

.texto_seccion{
  text-align: center;
  width: 100%;
  font-size: 3em;
  color: rgb(85, 85, 85);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.texto_resaltado{
  color: rgb(49, 129, 175);
}

#img_bola_popup{
  width: 40%;
  margin-left: 30%;
}

.texto_negrita{
  font-weight: bold;
}

.texto_cursiva{
  font-style: italic;
}

#img_micro_popup{
  width: 20%;
  margin-left: 40%;
}

#img_logo_popup{
  width: 30%;
  margin-left: 35%;
}

#gracias{
  color: rgb(49, 129, 175);
}

.autor{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #7e7e7e;
}




@media only screen and (max-width: 600px) {
  #esfera {
    top: 80%;
    left: 80%;
  }
}