body {
    margin: 0;
    padding: 0;
}

#micro {

position: absolute;
top: 10%;
left: 39%;
}



#activacion_volumen{
    position: absolute;
    top: 75%;
    left: 40%;
    width: 20%;
    height: 10%;
}

#activacion_volumen img{
  width: 100%;
  height: 100%;
}
  
#esfera {
  width: 300px;
  height: 300px;
  background-image: radial-gradient(circle at 50% 50%, #b4d6e6, rgb(49, 129, 175));
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#cuadrado {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  border: 2px solid black;
}

@media only screen and (max-width: 600px) {
  #esfera {
    top: 80%;
    left: 80%;
  }
}