/* Estilo general */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #131313;
  }
  
/* Estilo de la cuadrícula de películas */

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Definimos 5 columnas de igual tamaño */
    grid-template-rows: repeat(2, 1fr); /* Definimos 2 filas de igual tamaño */
    grid-gap: 20px; /* Espacio entre elementos */
    padding: 20px;
    max-width: 1200px; /* Ancho máximo de la cuadrícula */
    margin: 0 auto; /* Centramos la cuadrícula horizontalmente */
  }
  
  a {
    margin-top: 5%;
    text-decoration: none;
    color: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  h2 {
    margin: 10px 0 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  /* Estilo de la cabecera */
  
/* Combinación con turquesa */
#cabecera {
    background-image: linear-gradient(to right, rgb(49, 129, 175) 35%, #ffffff);
    padding: 20px;
    color: #fff;
  }
  
  #texto-titulo {
    margin: 0;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  }
  
  /* Estilo de las películas */
  
  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  h2 {
    color: #f3f3f3;
  }

  .movie-grid a.selected {
    transform: scale(1.05);
  }
  
  .movie-grid a.selected img {
    border: 3px solid rgb(49, 129, 175);
  }
  
  .movie-grid a.selected h2 {
    color: rgb(49, 129, 175);
  }
  
  