/* Estilo general */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #508fb9;
  }  
  
/*----------------- FONDO--------------------*/

  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }
  
/* Estilo de la cuadrícula de películas */

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Definimos 5 columnas de igual tamaño */
    grid-template-rows: repeat(2, 1fr); /* Definimos 2 filas de igual tamaño */
    grid-gap: 20px; /* Espacio entre elementos */
    padding: 20px;
    max-width: 1200px; /* Ancho máximo de la cuadrícula */
    margin: 0 auto; /* Centramos la cuadrícula horizontalmente */
  }
  
  a {
    margin-top: 5%;
    text-decoration: none;
    color: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  h2 {
    margin: 10px 0 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  /* Estilo de la cabecera */
  
/* Combinación con turquesa */
#cabecera {
    background-color: rgb(32, 32, 32);
    padding: 20px;
    color: #fff;
  }
  
  #texto-titulo {
    margin: 0;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(134, 134, 134, 0.4);
  }
  
  /* Estilo de las películas */
  
  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  h2 {
    color: rgb(32, 32, 32);
  }

  .movie-grid a.selected {
    transform: scale(1.05);
  }
  
  .movie-grid a.selected img {
    border: 3px solid rgb(255, 255, 255);
  }
  
  .movie-grid a.selected h2 {
    color: rgb(255, 255, 255);
  }
  
  