body {
    margin: 0;
    padding: 0;
}
#controller {
position: relative;
height: 300px;
width: 300px;
margin: 0 auto;
margin-top: 50px;
}
#controller:before {
content: "";
display: block;
padding-top: 100%;
}


#triangle-up {
margin-top: 65%;
position: absolute;
top: 0;
left: 60%;
transform: translateX(-50%);
width: 0;
height: 0;
border-style: solid;
border-width: 0 100px 170px 100px;
border-color: transparent transparent #333 transparent;
}
#triangle-down {
margin-bottom: 65%;
position: absolute;
bottom: 0;
left: 60%;
transform: translateX(-50%);
width: 0;
height: 0;
border-style: solid;
border-width: 170px 100px 0 100px;
border-color: #333 transparent transparent transparent;
}
#triangle-left {
position: absolute;
top: 50%;
left: 20%;
transform: translateY(-50%);
width: 0;
height: 0;
border-style: solid;
border-width: 100px 170px 100px 0;
border-color: transparent #333 transparent transparent;
}
#triangle-right {
position: absolute;
top: 50%;
left: 82%;
transform: translateY(-50%);
width: 0;
height: 0;
border-style: solid;
border-width: 100px 0 100px 170px;
border-color: transparent transparent transparent #333;
}
#microphone {
position: absolute;
top: 10%;
left: 50%;

}
.volume-control {
    position: fixed;
    bottom: 20%;
    left: 10%;
    width: 80%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 80%;
    height: 40%;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #0f100f;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

